*{
		text-decoration: none;
		}
		
#l2 {
				text-shadow: 1px 1px black;
		}
		
#l3 {
				text-shadow: 3px 3px black;
				font-size: 96px;
		}

#l2 a:hover{
				text-shadow: 2px 2px black;
				border: none;
				border-bottom: 2px solid white;
		}


.list a:hover{
				color: red;
				text-shadow: 0.2px 0.2px grey;
					}
					
#l401 {
				filter: sepia(40%);
					}				
					
#l402 {
				filter: sepia(40%);
					}
					
#l403 {
				filter: sepia(40%);
					}
					
					
		
#l404 .search-box{
					font-size: 16px;
					width: 410px;
					padding: 12px 90px 12px 20px;
					border-top-left-radius: 15px;
					border-bottom-right-radius: 15px;
					border: 1px solid red;
						}
						
#l404 .search-btn{
					font-size: 16px;
					width: 80px;
					padding: 8px;
					background-color: red;
					border-top-left-radius: 15px;
					border-bottom-right-radius: 12px;
					border: 1px solid red;
						}