* {
	text-decoration: none;
}

#body {
		background-attachment: fixed;
		 		}
#top-nav a:hover{
	  		 border-bottom: 2px solid white;
				 }
		 
#logo-text {
	   font-size: 82px;
		 }
		 
#center-img {
	   font-size: 40px;
		 }

#fnt {
	   font-size: 75px;
		 }

#message {
	   font-size: 25px;
		 }
				

