*{text-decoration: none;}

html{
	scroll-behavior: smooth; 
	scroll-snap-type: mandatory;
   	scroll-snap-points-y: repeat(100vh);
    	scroll-snap-type: y mandatory;
    }

body{margin:0; background: linear-gradient(to bottom, transparent, black 100%); background-repeat: no-repeat; background-attachment: fixed;}

#title {font-size: 50px;}

#nav {line-height: 320%}

#nav a:hover {border: none; border-bottom: 1px solid white;}

#search input{
				width: 30vw;
				padding: 5px 5px 5px 38px;
				font-size: 1.5em;
				font-family: century gothic;
				color: white;
				outline: none;
				border: none;
				border-bottom: 2px solid white;
				background: rgba(0, 0, 0, 0);
					}

#sub-head {
		  background-color: rgba(0, 0, 0, 0);
		  background-size: cover;
			}

#sub-head font {
				  color: white;
				  background: url("Images/extra.jpg") no-repeat;
				  background-size: 100%;
				  -webkit-background-clip: text;
				  -webkit-text-fill-color: transparent;
	  			}
	  			
section {
    border-bottom: 0px solid white;
    padding: 0rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}
